<div class="container spacer">
  <div class="panel panel-default">
    <div class="panel-heading">Saisie d'un projet</div>
    <div class="panel-body">
        <form #f="ngForm" (ngSubmit)="onSaveProjet(f.value)">
            <div class="form-group">
              <label class="control-label">Intitule</label>
              <input class="form-control "type="text" ngModel name="intitule" required>
            </div>
            <div class="form-group">
              <label class="control-label">Description</label>
              <input class="form-control "type="text" ngModel name="description" required>
            </div>
            <div class="form-group">
              <label class="control-label">Date Debut</label>
              <input class="form-control "type="date" ngModel name="dateDebut" required>
            </div>
              <button [disabled]="!f.valid" type="submit" class="btn btn-primary">Enregister</button>
          </form>
    </div>
  </div>
</div>