<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                            <div class="panel panel-default">
                              <div class="panel-heading">Saisie d'un Cas de test</div>
                              <div class="panel-body">
                                  <form #f="ngForm" (ngSubmit)="onSaveCasTest(f.value)">
                                      <div class="form-group">
                                        <label class="control-label">Nom</label>
                                        <input class="form-control "type="text" ngModel name="nom" required>
                                      </div>
                                      <div class="form-group">
                                        <label class="control-label">Description</label>
                                        <input class="form-control "type="text" ngModel name="description" required>
                                      </div>
                                       <!--  *******************ETAPE DE TEST*******************-->
                                      <div class="panel panel-default">
                                        <div class="panel panel-heading">
                                          Etapes tu cas de test
                                        </div>
                                        <div class="panel-body">
                                          Ajouter une etape de test
                                          <a clickable (click)="onAddEtapeTest()"><i class="glyphicon glyphicon-plus"></i></a>
                                          <div class="panel panel-default" *ngFor="let etape of etapes; let i = index">
                                            <div class="panel-heading">
                                                > etape {{i}}
                                                <div class="btn-group pull-right">
                                                    <a (click)="onDeleteEtapeTest(i)"><i class="glyphicon glyphicon-trash"></i></a>
                                                    &nbsp;&nbsp;
                                                    <a (click)="onMinEtapeTest(i)"><i class="glyphicon glyphicon-minus"></i></a>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <label class="control-label">Nom de l'étape</label>
                                                    <input class="form-control "type="text" ngModel name="nomEtape{{i}}" required>
                                                  </div>
                                                  <div class="form-group">
                                                    <label class="control-label">Instructions</label>
                                                    <textarea class="form-control "type="text" ngModel name="instructionEtape{{i}}" required></textarea>
                                                  </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <!--  *******************END OF ETAPE DE TEST*******************-->
                                        <button [disabled]="!f.valid" type="submit" class="btn btn-primary">Enregister</button>
                                    </form>
                              </div>
                            </div>
                          
            </div>
        </div>
    </div>
</div>