<div class="container spacer">
    <div class="panel panel-primary" *ngIf="mode==1">
      <div class="panel-heading">
        Editer Projet
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label class="control-label">Intitule</label>
          <input class="form-control "type="text" [(ngModel)]="projet.intitule">
        </div>
        <div class="form-group">
          <label class="control-label">Description</label>
          <input class="form-control "type="text" [(ngModel)]="projet.description">
        </div>
        <div class="form-group">
          <label class="control-label">Date Debut</label>
          <input class="form-control "type="date" [(ngModel)]="projet.dateDebut">
        </div>
  
          <button class="btn btn-primary" (click)="updateProjet()">Enregistrer</button>
      </div>
    </div>
  </div>