<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1>Projet 1</h1>
                    <div class="panel panel-default">
                        <div class="panel-heading">Tableau de bord</div>
                        <div class="panel-body">

                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Description
                        </div>
                        <div class="panel-body">

                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Pièces Jointes
                            <div class="btn-group pull-right">
                                    <a href="#" class="btn btn-default btn-sm">Ajouter une pièce jointe</a>
                            </div>
                        </div>
                        <div class="panel-body">

                        </div>
                     </div>
            </div>
        </div>
    </div>
</div>